{% extends 'base.html' %}

{% block title %} Home page  {% endblock %}

{% block stylesheetLink %} {% endblock %}
{% block stylesheet %}  # style {% endblock %}


{% block header %}
{% include 'inheritancePage/header.html' %}
{% endblock %}

{% block slider&Sidebar %}
{% include 'inheritancePage/sidebar_slider.html' %}
{% endblock %}


{% block main_content %}
{% include 'pages/main_content.html' %}
{% endblock %}

{% block footer %}
{% include 'inheritancePage/footer.html' %}
{% endblock %}


{% block scriptLink %} {% endblock %}
{% block script %} {% endblock %}
